main {
    flex-grow: 1;
    display: flex;
    font-family: 'Mulish', sans-serif;

    /* background-color: tomato; */
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    /* background-color: brown; */
}

.content-container h1 {
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    line-height: 4.5rem;
    color: #FFF;
}
.content-container h1 span {
    font-size: 2.5rem;
    font-weight: 200;
}

.movie-title {
    color: var(--accent-color);
    font-size: 3rem;
}

.movie-text {
    width: 600px;
    font-size: 1.1rem;
    color: #FFF;
    font-weight: 200;
}

.button {
    height: 80px;
    width: 300px;
    background-color: var(--accent-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
}

.social-container {
    width: 48px;

    background-color: lightgreen;
}