.menu-burger-container {
    height: 36px;
    width: 36px;
    display: none;
    position: relative;
    align-items: center;
}

.menu-burger::before, 
.menu-burger, 
.menu-burger::after {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    width: 36px;
    transition: all 0.8s ease;

    background-color: #fff;
}

.menu-burger::before {
    transform: translateY(-12px);
}

.menu-burger::after {
    transform: translateY(12px);
}

.menu-burger-container:hover .menu-burger {
    background-color: transparent;
}

.menu-burger-container:hover .menu-burger::before {
    transform: rotate(45deg);
}

.menu-burger-container:hover .menu-burger::after {
    transform: rotate(-45deg);
}
@media (max-width:768px) {
    .menu-burger-container {
        display: flex;
    }
}