body {
    height: 100vh;
    background: linear-gradient(90deg, #000, #000E 30%, #000A 50%, #0000), 
                url(../imgs/backgrounds/background-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;

    display: flex;
    flex-direction: column;
}

header {
    height: 120px;
}

main {
    flex-grow: 1;
}

footer {
    height: 80px;
}