body {
    height: 100vh;
    background: linear-gradient(90deg, #000, #000E 30%, #000A 50%, #0000), 
                url(../imgs/backgrounds/background-galeria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;

    display: flex;
    flex-direction: column;

    padding: 0 128px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 60px;
}

.imgs-container {
    height: 720px;
    width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background-color: hotpink;
}
.imgs-org {
    display: flex;
    justify-content: center;
}

.img-content {
    height: 280px;
    width: 280px;   
}