body {
    height: 100vh;
    background: linear-gradient(90deg, #000, #000E 30%, #000A 50%, #0000), 
                url(../imgs/backgrounds/backgroung-vídeos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;

    display: flex;
    flex-direction: column;

    padding: 0 128px;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.video-container{
    display: flex;
    border: 5px solid #FFF;
    transition: 0.7s all;
}
.video-container:hover {
    border: 5px solid var(--accent-color);
}

div iframe {
    align-items: center;
}

@media (max-width: 768px) {
    iframe {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 0 30px;
        background-color: #0009;
        background-image: url(../imgs/backgrounds/backgroung-vídeos.jpg);
        background-blend-mode: darken;
        background-position: 90%;
    }
}